/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #6990f2;
  background-image: url("pngtree-cloud-flat-background-cartoon-blue-sky-pattern-image_418492.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;

}
.wrapper{
  width: 430px;
  padding: 30px;
  background-color: #fff;
  border-radius: 5px;
}

.wrapper header{
  color: #6990f2;
  font-size: 27px;
  font-weight: 600;
  text-align: center;
}

.wrapper form{
  height: 167px;
  border-radius: 5px;
  display: flex;
  border: 2px dashed #6990f2;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  margin: 30px 0;
}

form :where(i,p){
  color:#6990f2;
}
form i{
  font-size: 50px;
}
form p{
  font-size:16px;
  margin-top: 15px;
}

section .row{
  background: #e9f0ff;
  margin-bottom: 10px;
  list-style: none;
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

section .row i{
  font-size: 30px;
  color:#6990f2
}
section .details span{
  font-size: 14px;
}
.progress-area .row .content{
  width: 90%;
  margin-left: 14px;
}

.progress-area .details{
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  justify-content: space-between;
}

.progress-area .progress-bar{
  height: 6px;
  width: 100%;
  background: #fff;
  margin-bottom: 4px;
  border-radius: 30px;
}
.progress-bar .progress{
  height: 100%;
  width: 30%;
  background: #6990f2;
  border-radius: inherit;
}

.uploaded-area{
  max-height: 140px;
  overflow-y: scroll;
}

.uploaded-area::-webkit-scrollbar{
 width: 0px;
}


.uploaded-area .row .content{
  display: flex;
  align-items: center;
}

.uploaded-area .row .content .bg, .progress-area .row .bg{
  width: 35px;
  height: 35px;
  background-color: #ffaf7a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.uploaded-area .row .content .bg .fas, .progress-area .row .bg .fas{
  font-size: 20px;
  color: #ff6600;
  
}

.uploaded-area .row .details{
  display: flex;
  margin-left: 15px;
  flex-direction: column;
}
.uploaded-area .details .size{
  font-size: 11px;
  color: #404040;
}
.uploaded-area .fa-check{
  color: #6990f2;
  font-size: 16px;
}

